<meta name="description" content="{{ blog.meta_description }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/monokai-sublime.min.css" integrity="sha512-ade8vHOXH67Cm9z/U2vBpckPD1Enhdxl3N05ChXyFx5xikfqggrK4RrEele+VWY/iaZyfk7Bhk6CyZvlh7+5JQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="ftco-section single-blog">
  <div class="container px-md-0">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
      <h1 class="mb-5 mt-3 text-center"><%= blog.title %></h1>
      <%- blog.content %>
    </div>
  </div>
</section>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
