<section class="ftco-section" id="testimonial-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center">
        <h1 class="big big-2">Testimonials</h1>
        <h2 class="mb-4">Testimonials</h2>
        <p>See what my clients has to say.</p>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner">
        <!-- <div class="carousel-item active">
          <div class="bg-dark rounded p-5">
            <div class="mt-auto text-center mb-4">
              <img style="width: 80px;" class="img-fluid rounded-circle"
              src="/client.jfif" alt>
              <p class="mb-0">
                <strong class="d-block text-white font-weight-600">Dennis Jacques</strong>
                <span class="text-white-50 font-weight-500">User from USA</span>
              </p>
            </div>
            <p class="text-light" style="margin-bottom: 5px;">
              “Only trying it out since a few days. But up to now excellent. Seems to work flawlessly. priced simply dummy text of the printing and typesetting industry.”
            </p>
            <div class="text-center">
              <span class="text-2">
                <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
                <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
                <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
                <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
                <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
               </span>
            </div>
          </div>
          </div> -->
        <div class="carousel-item active mb-4">
          <div class="bg-dark rounded p-5">
            <div class="d-flex align-items-center mt-auto mb-3">
              <img style="width: 70px;" class="img-fluid rounded-circle d-inline-block"
                src="/images/clients/mithun.jfif" alt>
              <p class="ml-3 mb-0">
                <strong class="d-block text-white font-weight-600">
                  Mithun Parambath
                  <a target="_blank" style="color: white;" href="https://www.linkedin.com/in/mithun-parambath-ph-d-249b7a44">
                    <svg width="22px" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin fa-w-14 fa-2x">
                      <path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" class=""></path>
                    </svg>
                  </a>
                </strong>
                <span class="text-white-50 font-weight-500">
                CEO at 4Pilots
                </span>
              </p>
            </div>
            <p class="text-light" style="margin-bottom: 5px;">
              “Shivam is an excellent full stack developer. He had worked with 4Pilots in creating dashboard. Since we are implementing our AI camera based dashboard it required lot of iterations . Shivam was very proactive and helped us to implement the dashboard. There was many challenges during the work in terms of cloud integration, design of the dashboard, data integration and data visualization. Shivam was able to navigate through it and accomplish it. Shivam could be great asset to any work force.”
            </p>
            <span class="text-2">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            </span>
          </div>
        </div>
        <div class="carousel-item mb-4">
          <div class="bg-dark rounded p-5">
            <div class="d-flex align-items-center mt-auto mb-3">
              <img style="width: 70px;" class="img-fluid rounded-circle d-inline-block"
                src="/images/clients/raunak.jfif" alt>
              <p class="ml-3 mb-0">
                <strong class="d-block text-white font-weight-600">
                  Raunak Hajela
                  <a target="_blank" style="color: white;" href="https://www.linkedin.com/in/raunakhajela/">
                    <svg width="22px" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin fa-w-14 fa-2x">
                      <path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" class=""></path>
                    </svg>
                  </a>
                </strong>
                <span class="text-white-50 font-weight-500">
                CTO at What a Story
                </span>
              </p>
            </div>
            <p class="text-light" style="margin-bottom: 5px;">
              “I had worked with Shivam on various projects. He is a highly technical and analytical person. He never failed to miss the deadline. He is really good with his product and web application development skills. His programming skills in python and javascript are really impressive I would always choose him to work on any kind of project. It's always been a pleasure and a great experience to work with him. 
              Ps. He is an extremely reliable, and responsible person. He is also a great manager and always pushes himself hard whenever we need him.”
            </p>
            <span class="text-2">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            <img src="/images/star-symbol.svg"  style="width: 20px;" alt="">
            </span>
          </div>
        </div>
        <div class="carousel-item itemoo youtube" data-embed="xSq1HjYntTA">
          <div class="play-button"></div>
        </div>
        <div loading="lazy" class="carousel-item itemoo youtube" data-embed="Y6UcHvtnFhw">
          <div class="play-button"></div>
        </div>
        <div loading="lazy" class="carousel-item itemoo youtube" data-embed="OMpQt-LvlG4">
          <div class="play-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>
