<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <% if (locals.title){ %>
      <%= title %> |
      <% } %>
      Shivamkumraa.com
    </title>
    <meta name="description" content="<% if (locals.meta) { %><%= meta %><% } else { %>I am a professional full-stack developer with 3+ years of experience in the industry. My passion is writing code and building robust products and web applications.<% } %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-201551124-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-201551124-1');
    </script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target <% if (!locals.index){ %> scrolled awake <% } %>" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="/"><span>S</span>hivam</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-bars fa-w-14 fa-2x">
            <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path>
          </svg>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav nav ml-auto">
            <li class="nav-item"><a href="<% if (!locals.index){ %>/<% } %>#home-section" class="nav-link"><span>Home</span></a></li>
            <li class="nav-item"><a href="<% if (!locals.index){ %>/<% } %>#about-section" class="nav-link"><span>About</span></a></li>
            <!-- <li class="nav-item"><a href="#skills-section" class="nav-link"><span>Skills</span></a></li> -->
            <li class="nav-item"><a href="<% if (!locals.index){ %>/<% } %>#services-section" class="nav-link"><span>Services</span></a></li>
            <li class="nav-item"><a href="<% if (!locals.index){ %>/<% } %>#testimonial-section" class="nav-link"><span>Testimonials</span></a></li>
            <li class="nav-item"><a href="<% if (!locals.index){ %>/<% } %>#projects-section" class="nav-link"><span>Projects</span></a></li>
            <li class="nav-item"><a id="contact" href="<% if (!locals.index){ %>/<% } %>#contact-section" class="nav-link"><span>Contact</span></a></li>
            <li class="nav-item"><a id="blog" href="/blog/p/1" class="nav-link"><span>Blog</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <%- body %>
    <%- include('../partials/footer') %>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <% if (locals.index) { %>
    <script src="/js/main.js"></script>
    <% } else { %>
    <script>
      const navigations = ['contact', 'blog'];
      
      for (let i = 0; i < navigations.length; i += 1) {
        const url = navigations[i];
        if (window.location.pathname.startsWith(`/${url}`)) {
          document.querySelector(`#${url}`).classList.add('active');
          break;
        }
      } 
    </script>
    <% } %>
  </body>
</html>
